<a style="cursor: pointer" class="list-group-item clearfix" (click)="onClickItem()">
  <div class="pull-left">
    <h4 class="list-group-item-heading">{{category.name}}</h4>
    <p class="list-group-item-text">{{category.description}}</p>
  </div>
</a>
