<a style="cursor: pointer" class="list-group-item clearfix" (click)="onClickExercise()">
  <div class="pull-left">
    <h4 class="list-group-item-heading">{{exercise.name}}</h4>
    <p class="list-group-item-text">{{exercise.shortDescription}}</p>
  </div>
</a>
