<div class="organisation" *ngIf="organisation">
  <h2>Welkom {{user.username}}</h2><br/>
  <hr>
  <h5>organisation: {{organisation.name}}</h5>
  <hr>
</div>
<br/><br/>

<h4>Users</h4>
<br/>
<div class="container">

  <app-user-item *ngFor="let user of getUsersInOrganisation()"
                     [user]="user">
  </app-user-item>

</div>
