<div class="row">
  <!-- 12 columns op extra-small, 10 columns vanaf small, 8 columns vanaf medium, vanaf small: 1 column offset, vanaf medium 2 columns offset -->
  <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
    <h2>Register new user</h2>
    <hr>
    <form (ngSubmit)="onSignup()" #signupForm="ngForm">
      <div class="form-group">
        <label for="email">Mail</label>
        <input type="email" id="email" name="email" ngModel class="form-control">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" #password="ngModel" name="password" ngModel="password" class="form-control" [minlength]="6">
        <div *ngIf="password.invalid && password.touched">Password should be atleast 6 characters long</div>
      </div>

      <div class="form-group">
        <label for="accountTypeId">Selecteer uw gewenste account type: </label>
        <select class="form-control" id="accountTypeId" [(ngModel)]="accountTypeSelected" name="accountTypeSelectedField">
          <option *ngFor="let a of accountTypes" [ngValue]="a"> {{a.name}} </option>
        </select>
      </div>
      <br/>

      <div class="form-group" *ngIf="accountTypeSelected.id == 0 || accountTypeSelected.id == 1">
        <label for="organisatieId">Selecteer uw organisatie: </label>
        <select class="form-control" id="organisatieId" [(ngModel)]="organisationIdSelected" name="organisationSelectedField">
          <option *ngFor="let o of organisations" [value]="o._id"> {{o.name}} </option>
        </select>
      </div>

      <div class="form-group" *ngIf="accountTypeSelected.id == 2">
        <label for="adminPassword">Password for admin account</label><br/>

        <input type="password" id="adminPassword" #adminPassport="ngModel" name="adminPassword" ngModel="adminPassword" class="form-control">
      </div>


      <button class="btn btn-primary" type="submit">Sign Up</button>
    </form>
  </div>
</div>



