<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12" id="mainContainer">
      <h1 class="text-center">Fysio App</h1>
      <hr>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
