<h4 class="text-center">Categories</h4>
<hr>
<div class="row">
  <div class="col-xs-12">
    <br>
    <br>
    <app-category-item *ngFor="let categoryCurrent of categories"
                       [category]="categoryCurrent">
    </app-category-item>
  </div>
</div>
