<div class="container text-center">
  <div class="row">
    <div class="col-xs-12">
      <h2>{{exercise.title}}</h2>
      <br>
      <iframe width="420" height="315" [src]="getVideoUrl()" allowFullscreen="true"></iframe>
      <br>
      <br>
      <h2>{{exercise.name}}</h2>
      <br>
      <br>
      <h5>{{exercise.shortDescription}}</h5>
      <hr>
      <p>{{exercise.description}}</p>
      <hr>
      <p>{{exercise.stepByStep}}</p>
      <hr>
      <div *ngIf="exercise.author" >
        author: {{exercise.author.username}}
      </div>
      <br>
      <br>
      <button type="button" class="btn btn-primary" (click)="backToLastCategoryLoaded()">terug</button>
    </div>
  </div>
</div>




