<div class="text-center">
  <h3>Welkom op de fysio app</h3>

  <br>
  <br>
  <h3>Gebruiker functies</h3>
  <br/>
  <button type="button" class="btn btn-success" routerLink="/signin">Login</button><br/><br/>
  <button type="button" class="btn btn-success" routerLink="/signup">Registreer</button><br/><br/>
  <br/><br/>
  <h3>Algemeen</h3>
  <button type="button" class="btn btn-primary" routerLink="/categories">Ga naar categorien</button>
</div>



