<div class="row">
  <!-- 12 columns op extra-small, 10 columns vanaf small, 8 columns vanaf medium, vanaf small: 1 column offset, vanaf medium 2 columns offset -->
  <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
    <h2>Login</h2>
    <hr>
    <form (ngSubmit)="onSignin(f)" #f="ngForm">
      <div class="form-group">
        <label for="email">Mail</label>
        <input type="email" id="email" name="email" ngModel class="form-control">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" #password="ngModel" name="password" ngModel="password" class="form-control" [minlength]="6">
        <div *ngIf="password.invalid && password.touched">Password should be atleast 6 characters long</div>
      </div>
      <div class="errorMessage">
      {{message}}<br/>
      </div>
      <button class="btn btn-primary" type="submit">Login</button>
    </form>
  </div>
</div>



